<li class="burger-list">
	{{burger_name}}

	<button class="change-devour btn btn-warning btn-sm mb-1" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour!{{/if}}
	</button>
    
</li>