<div class="row">
    <div class="col-12">
        <img class="img-fluid d-block mx-auto img-burger" src="/assets/img/burger4.png" alt="burger">
        <h1 class="text-center title">Eat the Burger!</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h2>Burgers that have not been eaten:</h2>

        <ul>
        {{#each burgers}}
            {{#unless devoured}}
            {{> burger-block devour=true}}
            {{/unless}}
        {{/each}}
        </ul>
    </div>
    <div class="col-6">
        <h2>Burgers that have been eaten:</h2>

        <ul>
        {{#each burgers}}
            {{#if devoured}}
            {{> burger-block2 devour=false}}
            {{/if}}
        {{/each}}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="text-center">Add a Burger</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-0"></div>
    <div class="col-md-6 col-sm-12">
        <form class="create-form">

        <div class="form-group">
            {{!-- <label for="bu">Type of Burger:</label>
            <input type="text" id="bu" name="name"> --}}
            <div class="form-group text-center">
                <textarea class="form-control" id="bu" rows="3"></textarea>
                <label for="bu">Type in a burger you want to eat, and then click "Add Burger"!</label>
            </div>
        </div>

        <button class="btn btn-warning d-block mx-auto submit" type="submit">Add Burger</button>
        </form>
    </div>
    <div class="col-md-3 col-sm-0"></div>
</div>